/*background color*/
body {
	background: white;
	background-size: cover;
	overflow-y: scroll;
}

a {
	text-decoration: none;
	display: inline;
	color: black;
}

.headwrapper {
	
}

h1 {
	font-family: 'Baloo'; font-size: 40px;
	color: black;
	text-align: center;
	margin: 0;
}

.btnwrapper {
	margin-top: 100px;
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: ;
	flex-grow: 10px;
	font-size: 20px
}

.loginform {
	display: flex;
	margin-left: auto;
	flex-direction: row;
	margin-top: auto;
	flex-wrap: nowrap;
}

.f1 .f2 .f3{
	border-radius: 30px;
	height: 30px;
	
}

.f3 {
}

.happyvidwrapper {
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow-x: scroll;
	color: white;
	overflow-wrap: break-word;

}

section {
	overflow-wrap: break-word;
	max-width: 350px;
	max-height: 175px;
	display: inline-block;
	color: black;
	justify-content: start;
}


.madvidwrapper {
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow-x: scroll;
	color: white;
	overflow-wrap: break-word;

}



.sadvidwrapper {
	display: flex;
	flex-direction: row;
	justify-content: start;
	overflow-x: scroll;
	color: white;
	overflow-wrap: break-word;

}

input {
	border-radius: 5px;
}
